<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script src="Scripts/linq.min.js"></script>
    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="Scripts/jquery.dataTables.min.js"></script>
    <script src="Scripts/jquery.loader.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-datatables.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/ui-bootstrap-tpls-2.3.1.min.js"></script>
    <script src="Scripts/bootstrap-select.min.js"></script>
    <script src="Scripts/highcharts.js"></script>
    <script src="Scripts/highcharts-more.js"></script>
    <script src="Scripts/dark-unica.js"></script>
    <script src="/Scripts/src/app.js"></script>
    <script src="/Scripts/src/app-service.js"></script>
    <script src="/Scripts/src/app-controller.js"></script>
    
    <link href="Styles/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link href="Styles/bootstrap-select.min.css" rel="stylesheet" />
    <link href="Styles/angular-datatables.css" rel="stylesheet" />
    <link href="Styles/jquery.loader.min.css" rel="stylesheet" />
    <style>
        td, th {
            text-align: center;
        }

        div .chart {
            height: 100%;
            width: 100%;
        }
        .black-background {background-color:#000000;}
        .white {color:#ffffff;}
        
    </style>
    <title>GMRS</title>
</head>
<body ng-app="GMRSapp">
    <div ng-controller="AppController" class="jumbotron">
        <div style="text-align:center" class="jumbotron">
            <div dir="ltr" id="container" style="width: 200px; height:200px; margin: 0 auto; float:left"></div>
            <h1 class="display-2">ברוך הבא ל - GMRS !</h1>
            <h2 class="display-12">(General Manger Report System)</h2>
            <p class="lead">כאן תוכל ליצור ולנהל דוחות אינטרקטיבים בצורה מהירה ויעילה!</p>
            <br /><br />
            <hr class="my-2">
            <h6 style="text-align:right">פותח ע"י: ערן נחום וגור אריה יהודה</h6>
            <button style="float:right" class="btn btn-info btn-xs black-background white">קרא עוד</button>
            <br /><br />
            <p class="pull-right">לחץ על הפעולה שברצונך לבצע:</p>
            <button type="button" class="btn btn-success btn-block black-background white" ng-click="getAllData(); showDataTable = true;">טען את כל המידע</button>
            <button ng-click="createReportButton()" type="button" class="btn btn-success btn-block black-background white" data-toggle="modal" data-target="#createReportModal">צור דוח</button>
        </div>

        <div style="text-align:center" dismiss-on-timeout="2000" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
        <div class="container">

            <!--all data table-->
            <div ng-show="showDataTable" id="data_table">
                <p>טבלת מידע:</p>
                <table datatable="ng" dt-options="dtOptions" class="table table-inverse table-bordered table-hover">
                    <thead>
                        <tr class="bg-primary">
                            <th>#</th>
                            <th>קטגוריה</th>
                            <th>סוג</th>
                            <th>ערך</th>
                            <th>חודש</th>
                            <th>שנה</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in dataList track by $index">
                            <td>{{$index +1}}</td>
                            <td>{{data.CategoryDesc}}</td>
                            <td>{{data.ValueTypeName}}</td>
                            <td>{{data.Value}}</td>
                            <td>{{data.Month}}</td>
                            <td>{{data.Year}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <p ng-show="showReport">טבלת מידע:</p>
            <div id="report_table" ng-show="showReport">
                <table datatable="ng" dt-options="dtOptions" class="table table-bordered table-inverse table-hover ">
                    <thead>
                        <tr class="bg-primary" >
                            <th>חודש/שנים</th>
                            <th ng-repeat="year in dTable.years">{{year}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="d in dTable.data track by $index">
                            <td>{{$index +1}}</td>
                            <td ng-repeat="dd in d">{{dd}}</td>
                        </tr>
                    </tbody>
                </table>
                <p ng-show="showReport">גרף מותאם:</p>
            </div>
            <div class="chart" dir="ltr" id="lineChart"></div>
        </div>


        <!-- Create Report Modal -->
        <div id="createReportModal" class="modal fade " role="dialog">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button style="float:left" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">יצירת דוח</h4>
                    </div>
                    <div class="modal-body">
                        <form name="createReportModalForm">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">סוג מידע:</label>
                                <select name="select_type" data-width="fit" data-live-search="true" title="אפשרויות..." class="selectpicker" multiple ng-model="report.cReportType" required>
                                    <option style="text-align:right" ng-repeat="val in report.reportType" value="{{val}}">{{val}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">קטגוריה:</label>
                                <select ng-options="category.CategoryName for category in report.categories track by category.CategoryID" ng-model="report.cCategory" required></select>
                            </div>
                            <div class="form-group">
                                <div ng-show="catDescChoosed" class="form-group">
                                    <label for="recipient-name" class="form-control-label">בחר מהרשימה:</label>
                                    <select data-width="fit" data-live-search="true" class="selectpicker show-tick" title="בחר פה..." ng-model=" report.cCategoryDesc" required>
                                        <option style="text-align:right" ng-repeat="catDesc in report.categoryDesc" value="{{catDesc.CategoryDesc}}">{{catDesc.CategoryDesc}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">משנה:</label>
                                <select ng-options="year for year in report.years" ng-model="report.cStartYear" required></select>
                                <label for="recipient-name" class="form-control-label">עד שנה:</label>
                                <select ng-disabled="(report.cStartYear==null)" ng-options="year for year in report.possibleEndYears" ng-model="report.cEndYear" required></select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger black-background white pull-left" data-dismiss="modal">ביטול</button>
                        <button ng-click="loadRelevantData()" type="button" class="btn btn-success black-background white pull-right" data-dismiss="modal" ng-disabled="createReportModalForm.$error.required">אישור</button>
                    </div>
                </div>

            </div>
        </div>

        <!--script for the clock-->
        <script>
            $(function () {

                /**
                 * Get the current time
                 */
                function getNow() {
                    var now = new Date();

                    return {
                        hours: now.getHours() + now.getMinutes() / 60,
                        minutes: now.getMinutes() * 12 / 60 + now.getSeconds() * 12 / 3600,
                        seconds: now.getSeconds() * 12 / 60
                    };
                }

                /**
                 * Pad numbers
                 */
                function pad(number, length) {
                    // Create an array of the remaining length + 1 and join it with 0's
                    return new Array((length || 2) + 1 - String(number).length).join(0) + number;
                }

                var now = getNow();

                // Create the chart
                Highcharts.chart('container', {

                    chart: {
                        type: 'gauge',
                        plotBackgroundColor: null,
                        plotBackgroundImage: null,
                        plotBorderWidth: 0,
                        plotShadow: false,
                        height: 200
                    },
                    title: {
                        text: null
                    },

                    credits: {
                        enabled: false
                    },

                    pane: {
                        background: [{
                            // default background
                        }, {
                            // reflex for supported browsers
                            backgroundColor: Highcharts.svg ? {
                                radialGradient: {
                                    cx: 0.5,
                                    cy: -0.4,
                                    r: 1.9
                                },
                                stops: [
                                    [0.5, 'rgba(255, 255, 255, 0.2)'],
                                    [0.5, 'rgba(200, 200, 200, 0.2)']
                                ]
                            } : null
                        }]
                    },

                    yAxis: {
                        labels: {
                            distance: -20
                        },
                        min: 0,
                        max: 12,
                        lineWidth: 0,
                        showFirstLabel: false,

                        minorTickInterval: 'auto',
                        minorTickWidth: 1,
                        minorTickLength: 5,
                        minorTickPosition: 'inside',
                        minorGridLineWidth: 0,
                        minorTickColor: '#666',

                        tickInterval: 1,
                        tickWidth: 2,
                        tickPosition: 'inside',
                        tickLength: 10,
                        tickColor: '#666',
                        title: {
                            text: 'Powered by<br/>GMRS',
                            style: {
                                color: '#BBB',
                                fontWeight: 'normal',
                                fontSize: '8px',
                                lineHeight: '10px'
                            },
                            y: 10
                        }
                    },

                    tooltip: {
                        formatter: function () {
                            return this.series.chart.tooltipText;
                        }
                    },

                    series: [{
                        data: [{
                            id: 'hour',
                            y: now.hours,
                            dial: {
                                radius: '60%',
                                baseWidth: 4,
                                baseLength: '95%',
                                rearLength: 0
                            }
                        }, {
                            id: 'minute',
                            y: now.minutes,
                            dial: {
                                baseLength: '95%',
                                rearLength: 0
                            }
                        }, {
                            id: 'second',
                            y: now.seconds,
                            dial: {
                                radius: '100%',
                                baseWidth: 1,
                                rearLength: '20%'
                            }
                        }],
                        animation: false,
                        dataLabels: {
                            enabled: false
                        }
                    }]
                },

                    // Move
                    function (chart) {
                        setInterval(function () {

                            now = getNow();

                            if (chart.axes) { // not destroyed
                                var hour = chart.get('hour'),
                                    minute = chart.get('minute'),
                                    second = chart.get('second'),
                                    // run animation unless we're wrapping around from 59 to 0
                                    animation = now.seconds === 0 ?
                                        false : {
                                            easing: 'easeOutBounce'
                                        };

                                // Cache the tooltip text
                                chart.tooltipText =
                                    pad(Math.floor(now.hours), 2) + ':' +
                                    pad(Math.floor(now.minutes * 5), 2) + ':' +
                                    pad(now.seconds * 5, 2);


                                hour.update(now.hours, true, animation);
                                minute.update(now.minutes, true, animation);
                                second.update(now.seconds, true, animation);
                            }

                        }, 1000);

                    });
            });

            /**
             * Easing function from https://github.com/danro/easing-js/blob/master/easing.js
             */
            Math.easeOutBounce = function (pos) {
                if ((pos) < (1 / 2.75)) {
                    return (7.5625 * pos * pos);
                }
                if (pos < (2 / 2.75)) {
                    return (7.5625 * (pos -= (1.5 / 2.75)) * pos + 0.75);
                }
                if (pos < (2.5 / 2.75)) {
                    return (7.5625 * (pos -= (2.25 / 2.75)) * pos + 0.9375);
                }
                return (7.5625 * (pos -= (2.625 / 2.75)) * pos + 0.984375);
            };
        </script>
    </div>

</body>
</html>












