<!DOCTYPE html>
<html dir="rtl" lang="he">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script src="Scripts/linq.min.js"></script>
    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="Scripts/jquery.dataTables.min.js"></script>
    <script src="Scripts/jquery.loader.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="Scripts/angular-datatables.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/ui-bootstrap-tpls-2.3.1.min.js"></script>
    <script src="Scripts/bootstrap-select.min.js"></script>
    <script src="Scripts/highcharts.js"></script>
    <script src="Scripts/data.js"></script>
    <script src="Scripts/drilldown.js"></script>
    <script src="Scripts/highcharts-more.js"></script>
    <script src="Scripts/src/clock.js"></script>
    <!--<script src="Scripts/exporting.js"></script>-->
    <script src="Scripts/dark-unica.js"></script>
    <script src="/Scripts/src/app.js"></script>
    <script src="/Scripts/src/app-service.js"></script>
    <script src="/Scripts/src/app-controller.js"></script>
    
    <link href="Styles/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link href="Styles/bootstrap-select.min.css" rel="stylesheet" />
    <link href="Styles/angular-datatables.css" rel="stylesheet" />
    <link href="Styles/jquery.loader.min.css" rel="stylesheet" />
    <style>
        #startDiv{
            background: url(Styles/images/background.jpg) no-repeat center fixed; 
            background-size: cover;
        }
        td, th {
            text-align: center;
        }

        div .chart {
            height: 100%;
            width: 100%;
        }
        .black-background {background-color:#000000;}
        .white {color:#ffffff;}  
        #modal-dialog-report {
            overflow-y: initial !important;
            max-width:85%;
        }
        #modal-body-report {
            max-height: calc(100vh - 200px);
            overflow-y: auto;
        }    
    </style>
    <title>GMRS</title>
</head>
<body ng-app="GMRSapp">
    <div ng-controller="AppController" class="jumbotron">
        <div id="startDiv" style="text-align:center" class="jumbotron">
            <div dir="ltr" id="container" style="width: 200px; height:200px; margin: 0 auto; float:left"></div>
            <h1 style="color:white" class="display-2">ברוך הבא ל - GMRS !</h1>
            <h2 style="color:white" class="display-12">(General Maneger Report System)</h2>
            <p style="color:white" class="lead">כאן תוכל ליצור ולנהל דוחות מנהלים אינטרקטיבים בצורה מהירה ויעילה!</p>
            <br /><br />
            <hr class="my-2">
            <h6 style="text-align:right; color:white">פותח ע"י: ערן נחום וגור אריה יהודה</h6>
            <hr class="my-2">
            <br /><br />
            <div class="row" style="margin-bottom:10px">
                <button ng-click="createReportButton(3)" type="button" class="btn btn-primary black-background white col-sm-4" data-toggle="modal" data-target="#createReportModal3">צור דוח מסוג 3</button>
                <button ng-click="createReportButton(2)" type="button" class="btn btn-primary black-background white col-sm-4" data-toggle="modal" data-target="#createReportModal2">צור דוח מסוג 2</button>
                <button ng-click="createReportButton(1)" type="button" class="btn btn-primary black-background white col-sm-4" data-toggle="modal" data-target="#createReportModal1">צור דוח מסוג 1</button>
            </div>
            <div class="form-group">
                <button style="float:right" class="btn btn-info btn-xs black-background white">קרא עוד...</button>
                <button style="float:left" class="btn btn-info btn-xs black-background white" data-toggle="modal" data-target="#ContactInfo">צור קשר</button>
            </div>
        </div>

        <!--alerts div-->
        <div style="text-align:center" dismiss-on-timeout="2000" uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>

        <!-- Create Report 1 Modal  -->
        <div id="createReportModal1" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button ng-click="closeReport()" style="float:left" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">יצירת דוח</h4>
                    </div>
                    <div class="modal-body">
                        <form name="createReportModalForm1">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">סוג מידע:</label>
                                <select name="select_type" data-width="fit" data-live-search="true" title="אפשרויות..." class="selectpicker" ng-model="report.cReportType" required>
                                    <option style="text-align:right" ng-repeat="val in report.reportType" value="{{val}}">{{val}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">קטגוריה:</label>
                                <select ng-options="category.CategoryName for category in report.categories track by category.CategoryID" ng-model="report.cCategory" required></select>
                            </div>
                            <div class="form-group">
                                <div ng-show="catDescChoosed" class="form-group">
                                    <label for="recipient-name" class="form-control-label">בחר {{report.cCategory.CategoryName}}:</label>
                                    <select data-width="fit" data-live-search="true" class="selectpicker show-tick" title="בחר פה..." ng-model=" report.cCategoryDesc" required>
                                        <option style="text-align:right" ng-repeat="catDesc in report.categoryDesc" value="{{catDesc.CategoryDesc}}">{{catDesc.CategoryDesc}}</option>
                                    </select>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">משנה:</label>
                                <select ng-options="year for year in report.years" ng-model="report.cStartYear" required></select>
                                <label for="recipient-name" class="form-control-label">עד שנה:</label>
                                <select ng-disabled="(report.cStartYear==null)" ng-options="year for year in report.possibleEndYears" ng-model="report.cEndYear" required></select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="closeReport()" type="button" class="btn btn-danger black-background white pull-left" data-dismiss="modal">ביטול</button>
                        <button ng-click="loadRelevantData()" type="button" class="btn btn-success black-background white pull-right" data-dismiss="modal" ng-disabled="createReportModalForm1.$error.required" data-toggle="modal" data-target="#ReportModal">אישור</button>
                    </div>
                </div>

            </div>
        </div>
    
        <!-- Create Report 2 Modal  -->
        <div id="createReportModal2" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button ng-click="closeReport()" style="float:left" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">יצירת דוח</h4>
                    </div>
                    <div class="modal-body">
                        <form name="createReportModalForm2">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">סוג מידע:</label>
                                <select name="select_type" data-width="fit" data-live-search="true" title="אפשרויות..." class="selectpicker" ng-model="report.cReportType" required>
                                    <option style="text-align:right" ng-repeat="val in report.reportType" value="{{val}}">{{val}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <div ng-show="ReportTypeChoosed" class="form-group">
                                    <label for="recipient-name" class="form-control-label">סוג {{report.cReportType}}:</label>
                                    <select data-width="fit" data-live-search="true" class="selectpicker show-tick" title="בחר פה..." ng-model=" report.cValueTypeDesc" required>
                                        <option style="text-align:right" ng-repeat="valTypeDesc in report.valueTypeDesc" value="{{valTypeDesc.ValueTypeDesc}}">{{valTypeDesc.ValueTypeDesc}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">קטגוריה:</label>
                                <select ng-options="category.CategoryName for category in report.categories track by category.CategoryID" ng-model="report.cCategory" required></select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">בחר שנה:</label>
                                <select ng-options="year for year in report.years" ng-model="report.cStartYear" required></select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="closeReport()" type="button" class="btn btn-danger black-background white pull-left" data-dismiss="modal">ביטול</button>
                        <button ng-click="loadRelevantData()" type="button" class="btn btn-success black-background white pull-right" data-dismiss="modal" ng-disabled="createReportModalForm2.$error.required" data-toggle="modal" data-target="#ReportModal">אישור</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- Create Report 3 Modal  -->
        <div id="createReportModal3" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button ng-click="closeReport()" style="float:left" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">יצירת דוח</h4>
                    </div>
                    <div class="modal-body">
                        <form name="createReportModalForm3">
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">סוג מידע:</label>
                                <select name="select_type" data-width="fit" data-live-search="true" title="אפשרויות..." class="selectpicker" ng-model="report.cReportType" required>
                                    <option style="text-align:right" ng-repeat="val in report.reportType" value="{{val}}">{{val}}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">קטגוריה:</label>
                                <select ng-options="category.CategoryName for category in report.categories track by category.CategoryID" ng-model="report.cCategory" required></select>
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">בחר שנה:</label>
                                <select ng-options="year for year in report.years" ng-model="report.cStartYear" required></select>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button ng-click="closeReport()" type="button" class="btn btn-danger black-background white pull-left" data-dismiss="modal">ביטול</button>
                        <button ng-click="loadRelevantData()" type="button" class="btn btn-success black-background white pull-right" data-dismiss="modal" ng-disabled="createReportModalForm3.$error.required" data-toggle="modal" data-target="#ReportModal">אישור</button>
                    </div>
                </div>

            </div>
        </div>
    

        <!--Report Modal  -->
        <div id="ReportModal" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
            <div id="modal-dialog-report" class="modal-dialog modal-lg">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button ng-click="closeReport()" style="float:left" type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 style="text-align:center" class="modal-title">דו"ח מותאם אישית</h4>
                    </div>
                    <div id="modal-body-report" class="modal-body">
                        <div ng-show="showReport1">
                            <div class="form-group">
                                <div class="chart" dir="ltr" id="report1"></div>
                            </div>
                            <div class="form-group">
                                <table class="table table-bordered table-inverse table-hover ">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th>חודש/שנים</th>
                                            <th ng-repeat="year in dTable.years">{{year}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in dTable.data track by $index">
                                            <td>{{$index +1}}</td>
                                            <td ng-repeat="dd in d">{{dd}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="showReport2">
                            <div class="form-group">
                                <div class="chart" dir="ltr" id="report2"></div>
                            </div>
                            <div class="form-group">
                                <table class="table table-bordered table-inverse table-hover ">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th>חודש/{{report.cCategory.CategoryName}}</th>
                                            <th ng-repeat="desc in dTable.catDesc">{{desc}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in dTable.data track by $index">
                                            <td>{{$index +1}}</td>
                                            <td ng-repeat="dd in d">{{dd}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div ng-show="showReport3">
                            <div class="form-group">
                                <div class="chart" dir="ltr" id="report3"></div>
                            </div>
                            <div class="form-group">
                                <table class="table table-bordered table-inverse table-hover ">
                                    <thead>
                                        <tr class="bg-primary">
                                            <th>{{report.cCategory.CategoryName}}/{{report.cReportType}}</th>
                                            <th ng-repeat="desc in dTable.valueTypeDesc">{{desc}}</th>
                                            <th>סה"כ</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="d in dTable.data track by $index">
                                            <td ng-repeat="dd in d">{{dd}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="text-center">
                                    <button ng-click="closeReport()" type="button" class="btn btn-danger center-block" data-dismiss="modal">סגור</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!-- Contact Info Modal  -->
        <div id="ContactInfo" class="modal fade " role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span style="float:left" aria-hidden="true">&times;</span>
                        </button>
                        <h4 style="text-align:center" class="modal-title" id="exampleModalLabel">פרטי התקשרות</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">מפתחים:</label>
                                <input style="text-align: center;" readonly type="text" class="form-control" id="recipient-name" placeholder="ערן נחום ">
                                <input style="text-align: center;" readonly type="text" class="form-control" id="recipient-name" placeholder="גור אריה יהודה">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">אימייל:</label>
                                <input style="text-align: center;" readonly type="text" class="form-control" id="recipient-name" placeholder="erann1987@gmail.com">
                                <input style="text-align: center;" readonly type="text" class="form-control" id="recipient-name" placeholder="gury87@gmail.com">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="form-control-label">טלפון:</label>
                                <input style="text-align: center;" readonly type="text" class="form-control" id="recipient-name" placeholder="052-458-1157">
                                <input style="text-align: center;" readonly type="text" class="form-control" id="recipient-name" placeholder="052-597-1523">
                            </div>
                            <div class="form-group">
                                <label for="message-text" class="form-control-label">השאר הודעה:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button style="float:right" type="button" class="btn btn-warning" data-dismiss="modal">שלח</button>
                        <button style="float:left" type="button" class="btn btn-danger" data-dismiss="modal">ביטול</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>












